.btn {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid black;
    margin: 10px;
    color: white;
    cursor: pointer;
}
.bg-red{
    background-color: red;
}
.bg-black{
    background-color: black;
}
.bg-green{
    background-color: green;
}

.btn:hover{

    border: 1px solid white;
}

.count{
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 1.3rem;
    width: 100px;
    background-color: gray;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    color: white;
}