<p>component works!</p>
<p>Today's Date is {{today | date}} </p>
<p>Today's Date is {{today | date: 'fullDate'}} </p>
<p>Today's Date is {{today | date: 'hh:mm:ss'}} </p>
<p>The price is {{amount | currency: 'EUR'}} </p>
<counters></counters>
<hr>
<to-dos></to-dos>
<hr>
<ifelse></ifelse>
<hr>
<gets></gets>
<hr>
<login [user]="userName"></login>

<select name="" #selectedlogs (change)="changeLog(selectedlogs.value)">
    <option value="Alim Ajibola">Alim Ajibola</option>
    <option value="Ajibola Yusuf">Ajibola Yusuf</option>
    <option value="Yusuf Tajudeen">Yusuf Tajudeen</option>
</select>
<hr>
@for (user of users; track user) {
    <signup [user]="user">{{user | titlecase}} </signup>

}
<hr>
<buttons  (getUsers)="handleUsers($event)"></buttons>
@for (user of userNs; track user) {
    <h4>{{user | uppercase}} </h4>
}
<hr>
<switchcase></switchcase>
<hr>
<forloop></forloop>
<hr>
<signal></signal>
<hr>
<effect ></effect>
<hr>
<two-way-binding></two-way-binding>
<hr>
<dynamic-styling></dynamic-styling>
<hr>
<directives></directives>
<hr>
<forms></forms>