<p>component works!</p>
<counters></counters>
<hr>
<to-dos></to-dos>
<hr>
<ifelse></ifelse>
<hr>
<gets></gets>
<hr>
<login [user]="userName"></login>

<select name="" #selectedlogs (change)="changeLog(selectedlogs.value)">
    <option value="Alim Ajibola">Alim Ajibola</option>
    <option value="Ajibola Yusuf">Ajibola Yusuf</option>
    <option value="Yusuf Tajudeen">Yusuf Tajudeen</option>
</select>
<hr>
@for (user of users; track user) {
    <signup [user]="user">{{user}} </signup>

}
<hr>
<buttons></buttons>
<hr>
<switchcase></switchcase>
<hr>
<forloop></forloop>
<hr>
<signal></signal>
<hr>
<effect ></effect>
<hr>
<two-way-binding></two-way-binding>
<hr>
<dynamic-styling></dynamic-styling>
<hr>
<directives></directives>
<hr>
<forms></forms>