<headers></headers>
<h1>My name is {{name()}} </h1>
<h2>This is {{title()}} </h2>
<h3>Services Rendered</h3>
<!-- <button (click)="getData()">Show Product</button> -->
@for (product of productData; track product) {
    <h4>{{product.name}}, {{product.category}} , {{product.price}}</h4>
}
<h3>API call Services</h3>
<div>
    @for (product of productDatas; track product.id) {
        <ul>
            <li><b>Name:</b> {{product.title}} </li>
            <li><b>Price:</b> {{product.price}} </li>
            <li><b>Rating:</b> {{product.rating}} </li>
      <li>
        <img src={{product.thumbnail}} alt="" />
      </li>
        </ul>
    }
</div>

<form action="" #formData="ngForm" (ngSubmit)="addProduct(formData.value)">
    <input type="text" placeholder="enter title" name="title" ngModel><br>
    <input type="text" placeholder="enter category" name="category" ngModel><br>
    <input type="text" placeholder="enter description" name="description" ngModel><br>
    <input type="text" placeholder="enter price" name="price" ngModel> <br>
    <button >Add product</button>
</form>
<div>
    @for (product of products; track product.id) {
        <ul>
            <li>{{product.title}} </li>
            <li>{{product.category}} </li>
            <li>{{product.description}} </li>
            <li>{{product.price}} </li>
        </ul>
    }
</div>


<router-outlet></router-outlet>
<!-- <component></component> -->

